.yellow {
  background-color: yellow;
  height: 27px;
  width: 27px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}

.centrePuissance4
{
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.headPlay
{
  background-color: grey;
  height: 27px;
  width: 27x;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}

.white
{
  background-color: white;
  height: 27px;
  width: 27px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}

.red {
  background-color: red;
  height: 27px;
  width: 27px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}

.blue {
  background-color: blue;
}

.widthh {
  height: 40px;
  width: 40px;
}